* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}


header {
    height: 64px;
    width: 100%;
    background-color: #003399;
}

aside {
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: brown;
    overflow-y: auto;
}